section#demo div.container{
max-width:90%;
}

ol.source-text {
	list-style-position: inside;
	text-indent: -2em;
	font-size:medium
}

.demo-media {
   display: flex;
	flex-direction: row;
	text-align: left;
	align-items: center;
	justify-content: center;
	max-width: 1000px;
	flex-wrap: wrap;
  &__image {
	max-width: 500px;
	height: 400px;
	flex: 1 1 auto;
    object-fit: contain;
    align-self: flex-start;
  }
  &__text {
	margin-top: 0;
	padding-left: 1em;
	margin-top: 0;
    flex: 1 1 400px;
  }
}

.figure-float {
	float: right;
	text-align: left;
}