section#demo div.container{
max-width:90%;
}

ol.source-text {
	list-style-position: inside;
	text-indent: -2em;
	font-size:medium
}

.demo-media {
   display: flex;
	flex-direction: row;
	text-align: left;
	align-items: center;
	justify-content: center;
	max-width: 1000px;
	flex-wrap: wrap;
  &__image {
	max-width: 500px;
	height: 400px;
	flex: 1 1 auto;
    object-fit: contain;
    align-self: flex-start;
  }
  &__text {
	margin-top: 0;
	padding-left: 1em;
	margin-top: 0;
    flex: 1 1 400px;
  }
}

.article-container {
  max-width: 960px;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
}

img[src$='#floatleft']
{
	float:left;
        //etc. etc/
}

img[src$='#floatright']
{
	float:right;
       //etc. etc.
}

table {
  display: block;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  font-size: 0.8rem;
  word-wrap: normal;
  word-break: normal; }

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.43;
  vertical-align: top;
  border-top: 1px solid #ddd; }

table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd; }

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0; }

table > tbody + tbody {
  border-top: 2px solid #ddd; }

table table {
  background-color: #fff; }

/* Table Striped */
table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
  background-color: #c7522b0f; }

/* Table Hover */
table > tbody > tr:hover > td,
table > tbody > tr:hover > th {
  background-color: #e5e5e5; }